
@{
    ViewBag.Title = "WayillAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusCompany.Models.Waybill

<h2>Оформление путевого листа</h2>
@using (Html.BeginForm("WaybillAdd", "Waybill", FormMethod.Post))
{
    <input type="hidden" value="@ViewBag.Request.busID" name="busID" />
    <input type="hidden" value="@ViewBag.Request.client" name="client" />
    <input type="hidden" value="@ViewBag.Request.path" name="path" />
    <input type="hidden" value="@ViewBag.Request.departureDate" name="departureDate" />
    <input type="hidden" value="@ViewBag.Request.returnDate" name="returnDate" />

    <dt>Марка: @ViewBag.Bus.marka</dt>
    <dt>Модель: @ViewBag.Bus.model</dt>
    <dt>Клиент: @ViewBag.Request.client</dt>
    <dt>Маршрут: @ViewBag.Request.path</dt>
    <dt>Дата выезда: @ViewBag.Request.departureDate</dt>
    <dt>Дата возвращения: @ViewBag.Request.returnDate)</dt>


    <input type="submit" value="Отправить" />
}

