@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BusCompany.Models.Request

<h2>Удаление автобуса</h2>
<dl>
    <dt>Марка: @ViewBag.Bus.marka </dt>
    <dt>Модель: @Html.DisplayFor(m => m.bus.model)</dt>
    <dt>Грузоподъемность, кг: @Html.DisplayFor(m => m.departureDate)</dt>
    <dt>Пассажировместимост, чел: @Html.DisplayFor(m => m.returnDate)</dt>
    <dt>Расход, л/100км: @Html.DisplayFor(m => m.path)</dt>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}


