@model BusCompany.Models.Request

@{
    ViewBag.Title = "Оформление заявки на автобус";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление автобуса</h2>
@using (Html.BeginForm("RequestAdd", "Request", FormMethod.Post))
{
<dl>
    <input type="hidden" value="@ViewBag.Buses.id" name="busID" />
    <input type="hidden" value="@ViewBag.User.Email" name="clientEmail"/>
    <dt>Клиент: @ViewBag.User.surname @ViewBag.User.name @ViewBag.User.patronymic</dt>
    <dt>Автобус: @ViewBag.Buses.marka @ViewBag.Buses.model</dt>
    <dt>Маршрут: @Html.EditorFor(model => model.path)</dt>
    <dt>Дата выезда: <input type="date" name="departureDate" /></dt>
    <dt>Дата возвращения: <input type="date" name="returnDate" /></dt>
</dl>

    <input type="submit" value="Отправить" />
}