@model BusCompany.Models.EditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Профиль</h2>

    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <div>
            <p>Фамилия: @Html.DisplayFor(m => m.surname)</p>
            <p>Имя: @Html.DisplayFor(m => m.name)</p>
            <p>Отчетсво: @Html.DisplayFor(m => m.patronymic)</p>
            <p>Email: @Html.DisplayFor(m => m.email)</p>
            @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
            {<input type="submit" value="Выход" />}
            <form action="/Account/Delete" method="get">
                <input type="submit" value="Удалить" />
            </form>
        </div>
    </div>