
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusCompany.Models.Bus

<h2>Удаление автобуса</h2>
<dl>
    <dt>Марка: @Html.DisplayFor(m => m.marka)</dt>
    <dt>Модель: @Html.DisplayFor(m => m.model)</dt>
    <dt>Грузоподъемность, кг: @Html.DisplayFor(m => m.cargo)</dt>
    <dt>Пассажировместимост, чел: @Html.DisplayFor(m => m.passanger)</dt>
    <dt>Расход, л/100км: @Html.DisplayFor(m => m.fuel)</dt>
    <dt>Пробег, км: @Html.DisplayFor(m => m.odometer)</dt>
    <dt>Стуатус: @Html.DisplayFor(m => m.status)</dt>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Удалить"/>
}
