@{
    ViewBag.Title = "Редактировать автобус";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BusCompany.Models.Bus
<h2>Автобус №@Model.id</h2>
@using (Html.BeginForm("EditBus", "Home", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.id)
    <p>
        @Html.LabelFor(m => m.marka, "Марка")
        <br />
        @Html.EditorFor(m => m.marka)
    </p>
    <p>
        @Html.LabelFor(m => m.model, "Модель")
        <br />
        @Html.EditorFor(m => m.model)
    </p>
    <p>
        @Html.LabelFor(m => m.cargo, "Грузоподъемность, кг")
        <br />
        @Html.EditorFor(m => m.cargo)
    </p>
    <p>
        @Html.LabelFor(m => m.passanger, "Пассажировместимость, чел")
        <br />
        @Html.EditorFor(m => m.passanger)
    </p>
    <p>
        @Html.LabelFor(m => m.fuel, "Расход топлива л/100 км")
        <br />
        @Html.EditorFor(m => m.fuel)
    </p>
    <p>
        @Html.LabelFor(m => m.odometer, "Пробег, км")
        <br />
        @Html.EditorFor(m => m.odometer)
    </p>
    <p>
        @Html.LabelFor(m => m.status, "Техническое состояние")
        <br />
        @Html.EditorFor(m => m.status)
    </p>
    <p><input type="submit" value="Отправсить"/></p>

</fieldset>
}