@model IEnumerable<BusCompany.Models.Bus>
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Автобусное предприятие</title>
</head>
<body>
    <div>
        <h3>Список автобусов</h3>
        <td><p><a href="/Bus/BusAdd">Добавить автобус</a></p></td>
        <table>
            <tr>
                <td><p>Марка</p></td>
                <td><p>Модель</p></td>
                <td><p>Грузоподъемность</p></td>
                <td><p>Пассажировместимость</p></td>
                <td><p>Расход</p></td>
                <td><p>Одометр</p></td>
                <td><p>Статус</p></td>
                <td><p></p></td>
                <td><p></p></td>
                <td><p></p></td>
            </tr>
            @foreach (var m in Model)
            {
                <tr>
                    <td><p>@Html.DisplayFor(model => m.marka)</p></td>
                    <td><p>@Html.DisplayFor(model => m.model)</p></td>
                    <td><p>@Html.DisplayFor(model => m.cargo)</p></td>
                    <td><p>@Html.DisplayFor(model => m.passanger)</p></td>
                    <td><p>@Html.DisplayFor(model => m.fuel)</p></td>
                    <td><p>@Html.DisplayFor(model => m.odometer)</p></td>
                    <td><p>@Html.DisplayFor(model => m.status)</p></td>
                    <td><p><a href="/Request/RequestAdd/@m.id">Заказать</a></p></td>
                    <td><p><a href="/Bus/BusEdit/@m.id">Редактировать</a></p></td>
                    <td><p><a href="/Bus/BusDelete/@m.id">Удалить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>